@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary-color: #22252d;
  --secondary-color: #2a2d37;
  --text-color: #fff;
  --shadow-box: 6px 6px 9px #1d1f26, -6px -6px 9px #272b34;
  --shadow-buttons: 6px 6px 9px #24262f, -6px -6px 9px #30343f;
  --shadow-buttons-inset: inset 6px 6px 9px #24262f, inset -6px -6px 9px #30343f;
}

[data-theme="light"] {
  --primary-color: #fff;
  --secondary-color: #f9f9f9;
  --text-color: #000;
  --shadow-box: 6px 6px 9px #bebebe, -6px -6px 9px #ffffff;
  --shadow-buttons: 6px 6px 9px #d4d4d4, -6px -6px 9px #ffffff;
  --shadow-buttons-inset: inset 6px 6px 9px #d4d4d4, inset -6px -6px 9px #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", monospace, sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
}

main {
  -webkit-box-shadow: var(--shadow-box);
          box-shadow: var(--shadow-box);
  border-radius: 25px;
  background-color: var(--primary-color);
}

main input,
main button {
  outline: none;
}

main .top-bar {
  background-color: inherit;
  margin-left: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

main .top-bar .span {
  display: inline-block;
}

main .top-bar .span-left {
  text-align: left;
  margin: 12px;
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--primary-color);
}

main .top-bar .span-right {
  background-color: inherit;
  float: right;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  border-radius: inherit;
}

main .top-bar .span-right img {
  background-color: inherit;
  height: 0.7rem;
  width: 0.7rem;
}

main .toggle-button {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 0.3rem 0.6rem;
}

main .toggle-button img {
  height: 1rem;
  width: 1rem;
  background-color: var(--secondary-color);
  border-radius: inherit;
  opacity: 0.5;
  z-index: 1;
}

main .toggle-button img:active {
  -webkit-box-shadow: var(--shadow-buttons-inset);
          box-shadow: var(--shadow-buttons-inset);
}

main .toggle-button * + img {
  margin-left: 10px;
}

main .toggle-button .active {
  opacity: 1;
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
          transform: scale3d(1.3, 1.3, 1.3);
  -webkit-transition: all 2s linear ease-in-out;
  transition: all 2s linear ease-in-out;
  background-color: green;
}

main .ans__container {
  background-color: inherit;
  color: var(--text-color);
  text-align: right;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  padding: 0 20px;
  max-width: 300px;
  word-wrap: all;
  word-break: break-all;
}

main .ans__container input[type="text"] {
  background-color: inherit;
  color: var(--text-color);
}

main .ans__container input {
  border: none;
  display: block;
  width: 100%;
  text-align: right;
}

main .ans__container .final__answer {
  background-color: inherit;
  font-size: 32px;
  font-weight: 1000;
}

main .container {
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 5px 0;
}

main .container .keys__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.6rem;
  background-color: inherit;
  border-radius: inherit;
  padding: 15px;
}

main .container hr {
  width: 45%;
  margin: 10px auto;
  border: 3px solid #474b52;
  border-radius: 2px;
}

main button {
  -webkit-box-shadow: var(--shadow-buttons);
          box-shadow: var(--shadow-buttons);
  width: 55px;
  height: 60px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: var(--primary-color);
}

main button:hover, main button:active {
  background-color: var(--secondary-color);
}

main button:active {
  -webkit-box-shadow: var(--shadow-buttons-inset);
          box-shadow: var(--shadow-buttons-inset);
}

main .op__key {
  color: #ff652f;
}

main .main__key {
  color: #0ee9de;
}

main .num__key {
  color: var(--text-color);
}
/*# sourceMappingURL=styles.css.map */